.codeHead {
    text-align: center !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    margin: 20px !important;
    padding: 20px;
}
hr {
    margin-bottom: 50px !important;
}
#start-btn {
    text-align: center !important;
}
.btn {
    background-color: blueviolet !important;
    padding:15px;
    font-size: 20px !important;
    font-weight: 100 !important;
    color: black !important;
}
.highscores {
    text-align: left;
    display: inline-flex;
    width: 900px;
    padding:10px;
    margin:2px;
}
.timeq {
    text-align: right;
    display: inline-flex;
    width: 30px;
    margin:2px;
    padding:10px;
}

.container {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: rgb(177, 222, 243);
    margin: 220px;
    height: 500px;
}
body {
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 133, 190);
}
.landingPage {
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 133, 190);
}
h1 h2 p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
    margin:30px;
    padding:10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.styleLi {
    margin-left: 3em;
    text-align: center;
    
}
li:hover {
    color: green;
    font-size: 1.5em;
}




